:root { 
--blue_500_1e:#1aa7ec1e; 
--gray_700:#5f6368; 
--blue_gray_200:#9dc0d1; 
--blue_gray_100:#ced1d4; 
--black_900:#000000; 
--blue_gray_400:#888e95; 
--blue_500:#1aa7ec; 
--cyan_900:#0b4765; 
--white_A700:#ffffff; 
--blue_50:#e8f6fd; 
--light_blue_900:#106690; 
--gray_100:#f3f4f4; 
}